@font-face  {
    src: url(./cssfonts/freakshow.regular.ttf);
    font-family: freakshow-regular;
}

body {
    position: relative;
}

button {
    outline: none !important;
}

/*for animation*/
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: 0.3s;
	transition-property: opacity;
}
.carousel-fade .carousel-item.active {
	opacity: 1;
}

.page_unfade {
    opacity: 1;
}

.active_fade {
    opacity: 0;
	transition-duration: 0.3s;
	transition-property: opacity;
}

/*animation style ends here*/

/*navbar start*/
_:-ms-fullscreen, :root .serviceDropdown .services_card .services_link {
    display: block;
    width: 100%;
}
/*navbar end*/

.debit_page_container {
    margin-top: 35px;
}

.debit_heading {
    font-family: lato-regular;
    font-size: 1.813rem;
    color: #97144d;
    padding: 0 60px;
}

/*breadcrum*/
.breadcrumb {
    padding: 0 1rem 0 0;
    background-color: transparent !important;
    margin-bottom: 0 !important;
    padding: 0 60px;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "\e93b";
    color: #ababab;
    font-family: 'icomoon';
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    vertical-align: middle;
    font-size: 7px;
}

.breadcrumb .breadcrumb-item a {
    color: #434343;
    font-size: 1rem;
    font-family: lato-regular;
}

/*breadcrum end*/

.debit_content, .debit_content_2 {
    display: flex;
    margin: 0 30px 0 60px;
    padding: 28px 0;
}

.process_debit {
    min-width: 438px;
    height: 345px;
    padding: 37px 53px 50px 53px;
    margin-right: 60px;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 40px 0 rgba(0,0,0,0.07);
    -moz-box-shadow: 0 3px 40px 0 rgba(0,0,0,0.07);
    box-shadow: 0 3px 40px 0 rgba(0,0,0,0.07);
}

.debit_para {
    font-family: lato-regular;
    font-size: 1.125rem;
    color: #171717;
}

.form-group .debit_label {
    font-family: lato-regular;
    font-size: 1rem;
    margin-bottom: 0 !important;
}

.form-control::placeholder {
    font-family: lato-regular;
    font-size: 1rem;
    opacity: 0;
}

.form-control:focus::placeholder {
    opacity: 1;
}

.process_debit .form-text {
    font-family: lato-bold;
    font-size: 0.75rem;
    color: #393939 !important;
    opacity: 0.8;
}

.form-group {
    position: relative;
    
}

.debit_label,
.captcha_label {
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s ease all;
    color: #393939;
}

.captcha_label {
    font-size: 1.125rem;
}

/*axis way start*/

.form-group .debit_label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 0 0 0;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
    font-family: lato-regular;
    font-size: 1rem;
    margin-bottom: 0 !important;
    pointer-events: none;
}
.form-group .form-control:focus + .debit_label,
.form-group .form-control:valid + .debit_label {
    font-size: 90%;
    color: #97144d;
    -webkit-transform: translate3d(0, -75%, 0);
    -moz-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0);
}

.form-group .form-control:not(:focus)::-ms-input-placeholder,
.form-group .form-control:not(:valid)::-ms-input-placeholder {
    opacity: 0 !important;
}

.form-group .form-control:focus::-ms-input-placeholder,
.form-group .form-control:valid::-ms-input-placeholder {
    opacity: 1 !important;
}

/*axis way end*/

/* input:not(:placeholder-shown) + .debit_label,
input:focus + .debit_label {
  transform: translate(0, -0.6rem) scale(0.75);
  cursor: pointer;
  color: #97144d;
  transform-origin: left top;
}

input:placeholder-shown + label {
  cursor: text;
  transform-origin: left bottom;
  transform: translate(0, 0.7rem) scale(1);
} */

/*IE11*/
input:not(:-ms-input-placeholder) + .debit_label,
input:focus + .debit_label {
    cursor: pointer;
    color: #97144d;
    -webkit-transform: translate(0, -0.8rem) scale(0.75);
    -moz-transform:    translate(0, -0.6rem) scale(0.75);
    -ms-transform:     translate(0, -0.6rem) scale(0.75);
    -o-transform:      translate(0, -0.6rem) scale(0.75);
    transform: translate(0, -0.6rem) scale(0.75);
    transform-origin: left top;
}

/*IE11*/
:-ms-input-placeholder + label {
    cursor: text;
    -webkit-transform: translate(0, 0.7rem) scale(1);
    -moz-transform:    translate(0, 0.9rem) scale(1);
    -ms-transform: translate(0, 0.4rem) scale(1);
    -o-transform:      translate(0, 0.7rem) scale(1);
    transform: translate(0, 0.4rem) scale(1);
    transform-origin: left bottom;
}

textarea:not(:-ms-input-placeholder) + .debit_label,
textarea:focus + .debit_label {
    -ms-transform: translate(0, -0.6rem) scale(0.75);
    cursor: pointer;
    color: #97144d;
    transform-origin: left top;
}

textarea:-ms-input-placeholder + label {
    cursor: text;
    -ms-transform: translate(0, 0.7rem) scale(1);
    transform: translate(0, 0.7rem) scale(1);
    transform-origin: left bottom;
}

.form-control:-ms-input-placeholder {
    font-family: lato-regular;
    font-size: 1rem;
    opacity: 0 !important;
}

.form-control:focus:-ms-input-placeholder {
    opacity: 0 !important;
}
_:-ms-fullscreen, :root .notes { 
    display: block !important;
    /* width: 100% !important; */
}
_:-ms-fullscreen, :root .generate_captcha {
    background-color: #e6e6e6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 227px;
    height: 40px;
    padding: 8px 5px 8px 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #97144d;
    font-size: 1.57143rem;
    line-height: 1;
    position: relative;

}

_:-ms-fullscreen, :root .form-control:not(:focus) + .debit_label {
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
    transition-duration: 0ms;
}

_:-ms-fullscreen, :root .form-control:focus + .debit_label {
    border-bottom: none !important;
}
/*IE 11 end*/

textarea:not(:placeholder-shown) + .debit_label,
textarea:focus + .debit_label {
    transform: translate(0, -0.6rem) scale(0.75);
    cursor: pointer;
    color: #97144d;
    transform-origin: left top;
}

textarea:placeholder-shown + label {
    cursor: text;
    transform-origin: left bottom;
    transform: translate(0, 0.7rem) scale(1);
}

.process_debit .form-group .form-control, .compose_mail .form-group .form-control {
    border: 1px solid transparent !important;
    border-bottom: 1px solid #D9D9D9 !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
    height: auto;
}

.process_debit .country-code,
.process_debit .country-code::placeholder {
    font-size: 1rem;
}

.compose_mail_container .captcha {
    width: 50%;
    margin-top: 30px;
}

.captcha_content {
    display: flex;
    align-items: center;
    margin-bottom: 30px !important;
}

.captcha_input::placeholder {
    font-family: lato-regular;
    font-size: 1.25rem;
    color: var(--debit_small);
}

#captcha_input {
    font-size: 1.125rem;
}

.captcha_letter {
    font-size: 0.938rem;
    padding: 0 5px;
    color: var(--debit_small);
    margin-left: 20px;
    font-family: freakshow-regular;
}

.generate_captcha {
    background-color: #e6e6e6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    padding: 8px 10px 8px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #97144d;
    font-size: 1.57143rem;
    line-height: 1;
    position: relative;

}

.refresh_captcha,
.refresh_captcha:hover {
    position: absolute;
    right: 10px;
    color: #97144d;
}

.icon-refresh::before {
    font-size: 1.375rem;
}

/* button */
.debit_buttons {
    display: flex;
}

.debit_buttons .reset {
    font-family: lato-bold;
    font-size: 1rem;
    padding: 9px 25px;
    background-color: #F0F0F0;
    margin-right: 15px;
    color: #171717;
    opacity: 0.6;
    border: 1px solid transparent;
}

.debit_buttons .enter_details,
.debit_buttons .submit {
    font-family: lato-bold;
    font-size: 1rem;
    padding: 9px 39.5px;
    background-color: #97144d;
    color: #fff;
    border: 1px solid transparent;
}
.debit_buttons .enter_details:hover,
.debit_buttons .submit:hover {
    background-color: #fff;
    color: #97144d;
    border: 1px solid #97144d;
}

/* notes */

.notes {
    margin-top: 25px;
}

.notes_header {
    font-family: lato-bold;
    font-size: 1.25rem;
    color: #171717;
}

.note_content li {
  font-family: lato-regular;
  font-size: 0.938rem;
  color: #171717;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  opacity: 0.8;
  position: relative;
  padding-left: 20px;
}

.note_content li:before {
  content: "";
  background: url(../images/arrow.svg);
  width: 8px;
  height: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  top: 9px;
  left: 0;
}

/*compose mail container*/
.compose_mail_container {
    display: none;
    width: auto;
    height: 100%;
    margin: 30px 60px 30px 60px;
    background-color: #fff;
    z-index: 99;
    transition: opacity 0.3s ease, right 0.3s ease;
    overflow: auto;
    padding: 37px 53px 50px 53px;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 40px 0 rgba(0,0,0,0.07);
    -moz-box-shadow: 0 3px 40px 0 rgba(0,0,0,0.07);
    box-shadow: 0 3px 40px 0 rgba(0,0,0,0.07);
}

.compose_mail_container .form-control {
    margin-bottom: 30px ;
}

.debit_buttons .submit {
    margin-top: 15px;
}
.active_1 {
    right: 0;
    opacity: 1;
    display: block;
    transition: opacity 0.3s ease, right 0.3s ease;
}

.form_container {
    display: flex;
}

.terms {
    display: flex;
}

.checkbox_container {
    margin-right: 15px;
}

.upload_content {
    color: #97144d;
    cursor: pointer;
}
.upload_content:hover {
    color: #97144d;
}
.form1, .form2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form2 {
    margin-left: 40px;
}

.form1 {
    margin-right: 40px;
}

.compose_heading {
    font-family: lato-regular;
    font-size: 1.563rem;
    color: #97144d;
    margin-bottom: 20px;
}
.upload {
    margin: 10px 0;
}

.upload #upload {
    width: 0;
}
.file {
    margin-right: 10px;
    height: 16px;
    width: 16px;
}
.file_list .file_uploaded {
    margin-right: 5px;
    height: 16px;
    width: 16px;
}
.form-control[readonly] {
    background-color: #fff !important;
    opacity: 1;
}

.to {
    font-size: 90%;
    color: #97144d;
    -webkit-transform: translate3d(0, -75%, 0);
    -moz-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0);
}

/*checkbox*/
/* The container */
.checkbox_container {
    display: inline-block;
    position: relative;
    margin: 0 39px 24px 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox_container .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 4px;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox_container:hover .checkbox ~ .checkmark {
    background-color: #fff;
    border: 1px solid #707070;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox_container .checkbox:checked ~ .checkmark {
    background-color: #97144d;
    display: block;
  }
  
  .checkbox_container .checkbox:checked ~ .checkmark:after {
      border-color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  /* Show the checkmark when checked */
  .checkbox_container .checkbox:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #97144d;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /*custom checkbox end*/

  /*modal content*/
.credit_modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    /* overflow: auto; */
    background: rgba(0,0,0,0.6)
}

.credit_modal_content {
    background-color: #fff;
    width: 58%;
    min-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal_text {
    width: 82%;
}

.credit_header_modal {
    font-family: lato-bold;
    font-size: 2.125rem;
    color: #97144d;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.credit_modal_para {
    font-family: lato-regular;
    font-size: 1.063rem;
    color: #2C2C2C;
    text-transform: capitalize;
    line-height: 1.2;
}

.chat_window, .nri_customer {
    font-family: lato-regular;
    font-size: 1.063rem;
    color: #2C2C2C;
    margin-bottom: 0 !important;
}

.nri_customer {
    margin-top: 20px;
}

.chat_window {
    margin-right: 20px;
}

.timing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.2;
}

.credit_btn_1, .credit_btn_2 {
    padding: 9px 20px;
    background-color: #97144d;
    color: #fff !important;
    font-family: lato-bold;
    font-size: 1rem;
    border: 1px solid #97144d;
}
.credit_btn_1:hover, .credit_btn_2:hover {
    padding: 9px 20px;
    background-color: #fff;
    color: #97144d !important;
    font-family: lato-bold;
    font-size: 1rem;
    border: 1px solid #97144d;
}

.credit_btn_1 {
    margin-right: 10px;
}

.buttons {
    margin-top: 30px;
}

.compose_email .form-group {
    margin-bottom: 20px;
}

.error, .file_allowed {
    color: var(--burgundy);
    display: none;
}

.upload .file_list, .upload .error {
    padding-left: 35px;
}

.file-chosen {
    color: var(--burgundy);
    padding-right: 20px;
    cursor: pointer;
    min-width: 30%;
}

.hide {
    display: none;
}

.upload_icon {
    display: none;
    font-size: 10px;
    padding: 5px;
}

.file_default {
    display: none;
}

a.text_disclaimer {
    color: #97144d;
    text-decoration: underline !important;
    padding: 0 60px;
}

.disclaimer_link {
    margin-bottom: 20px;
}

.regards, .greeting {
    margin: 10px 0;
}

/*debit-page4 css start*/
.debit_content_4 {
    display: none;
    margin: 37px 85px 40px 60px;
}

.debit_content_4 .great_text {
    font-family: lato-regular;
    font-size: 1.813rem;
    color: #97144d;
    margin-bottom: 9px;
}

.debit_content_4 .process_debit {
    padding: 27px 48px 0 57px;
    margin-right: 0;
    height: auto;
    width: 100%;
}

.debit_content_4 .image {
    width: 30%;
    margin-left: 15px;
}

.debit_content_4 .image img {
    width: 100%;
}

.debit_content_4 .blocked_card_content {
    display: block;
    width: 100%;
}

.debit_content_4 .block_content_section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.debit_content_4 .para_text {
    font-family: lato-regular;
    font-size: 1.125rem;
    color: #171717;
    margin-bottom: 50px;
}

.debit_content_4 .debit_buttons {
    display: inline-block;
    margin-bottom: 20px;
}

.debit_content_4 .close_btn {
    padding: 10px 50px;
    background-color: #97144d;
    color: #fff;
    border: 1px solid transparent;
}
.debit_content_4 .close_btn:hover,
.debit_content_4 .close_btn:focus {
    padding: 10px 50px;
    background-color: #fff;
    color: #97144d;
    border: 1px solid #97144d;
}

.debit_content_4 .debit_buttons .enter_details {
    font-family: lato-bold;
    font-size: 1rem;
    padding: 9px;
    background-color: #97144d;
    color: #fff;
    border: 1px solid transparent;
}
/*debit-page4 css end*/

.footer_disclaimer {

}

/*reponsiveness*/

@media (max-width: 992px) {
    .breadcrumb, .debit_heading, a.text_disclaimer {
        padding: 0 20px;
    }
    .debit_content {
        margin: 0 20px;
    }
    .process_debit {
        margin-right: 30px;
    }
    .notes {
        margin-top: 0;
    }

    .form_container {
        flex-direction: column;
    }
    .form2 {
        margin-left: 0;
    }
    .compose_mail_container {
        padding: 35px;
        margin: 30px 20px;
    }
    .compose_mail_container .captcha {
        width: 100%;
    }
    .credit_btn_1, .credit_btn_2,
    .credit_btn_1:hover, .credit_btn_2:hover {
        padding: 9px 7px;
    }
    .terms {
        align-items: center;
    }
    .terms .checkmark {
        top: -5px;
    }
    /*page4 css*/
    .debit_content_4 {
        margin: 37px 20px 40px 20px;
    }
}

@media (max-width:768px) {
    .debit_content {
        flex-direction: column;
        margin: 0 20px;
    }
    .process_debit {
        margin-right: 0;
    }
    .notes {
        margin-top: 25px;
    }
    .modal_text {
        width: 100%;
    }
    .credit_modal_para {
        font-size: 1.263rem;
    }
    .chat_window, .nri_customer {
        font-size: 1.2rem;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .credit_btn_1  {
        margin-bottom: 20px;
    }
    .credit_btn_1 , .credit_btn_2 {
        width: 100%;
    }
    /*page4 css*/
    .debit_content_4 {
        margin: 37px 15px 40px 15px;
    }
    .block_content_section {
        flex-direction: column;
        overflow: hidden;
    }

    .block_content_section .image {
        margin-top: 15px;
    }

    .debit_content_4 .image {
        display: none;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 0 20px 0 8px !important;
    }
    
}

@media (max-width: 576px) {
    _:-ms-fullscreen, :root .navbar-brand img {
        width: 90px;
    }
    .breadcrumb {
        display: none;
    }
    .debit_heading {
        font-size: 1.6rem;
    }
    .form-group .debit_label {
        font-size: 0.72rem;
    }
    .breadcrumb, .debit_heading, a.text_disclaimer  {
        padding: 0 15px;
    }
    .debit_content{
        margin: 0 15px;
    }
    .process_debit {
        min-width: 0;
        width: 100%;
        height: auto;
        padding: 27px 24px;
    }

    .captcha_content .icon-refresh {
        margin-left: 20px;
    }
    .captcha_letter {
        margin-left: 20px;
    }
    .debit_content {
        margin: 0 15px;
    }

    .debit_content .enter_details {
        padding: 9px 12.5px;
    }
    .compose_mail_container {
        padding: 35px 20px;
    } 
    .file {
        margin-right: 10px;
    }
    .compose_mail .form-group {
        margin-bottom: 35px;
    }
    .buttons {
        width: 100%;
    }
    .timing {
        flex-direction: column;
    }
    .credit_modal_content {
        height: 80vh;
        width: 80%;
        overflow: auto;
        padding: 28px;
    }
    .credit_header_modal {
        font-size: 1.5rem;
    }

    .chat_window, .nri_customer {
        margin: 15px 0;
    }

    .terms .terms_text {
        font-size: 0.8rem;
    }

    /*page4 css */
    .blocked_card_content {
        justify-content: center;
        align-items: center;
    }

    .debit_content_4 .process_debit {
        padding: 27px 25px 0 25px;
        margin-right: 0;
        height: auto;
        width: 100%;
    }

    .debit_content_4 .process_debit .image {
        display: none;
    }
    
}