@font-face  {
    src: url(./cssfonts/freakshow.regular.ttf);
    font-family: freakshow-regular;
}

/*for animation*/
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: 0.3s;
	transition-property: opacity;
}
.carousel-fade .carousel-item.active {
	opacity: 1;
}

/*animation style ends here*/

/*navbar start*/
_:-ms-fullscreen, :root .serviceDropdown .services_card .services_link {
    display: block;
    width: 100%;
}
/*navbar end*/

.debit_page_container {
    margin-top: 35px;
}

.debit_heading {
    font-family: lato-regular;
    font-size: 1.813rem;
    color: #97144d;
    padding: 0 60px;
}

/*breadcrum*/
.breadcrumb {
    padding: 0 1rem 0 0;
    background-color: transparent !important;
    margin-bottom: 0 !important;
    padding: 0 60px;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "\e93b";
    color: #ababab;
    font-family: 'icomoon';
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    vertical-align: middle;
    font-size: 7px;
}

.breadcrumb .breadcrumb-item a {
    color: #434343;
    font-size: 1rem;
    font-family: lato-regular;
}

/*breadcrum end*/

.debit_content {
    display: flex;
    margin: 0 30px 0 60px;
    padding: 28px 0;
}

.process_debit {
    width: 57%;
    height: 50%;
    padding: 37px 53px 50px 53px;
    margin-right: 60px;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 40px 0 rgba(0,0,0,0.07);
    -moz-box-shadow: 0 3px 40px 0 rgba(0,0,0,0.07);
    box-shadow: 0 3px 40px 0 rgba(0,0,0,0.07);
}

.debit_para {
    font-family: lato-regular;
    font-size: 1.125rem;
    color: #171717;
}

.lifetime_credit_card_content {
    color: #171717;
    font-size: 1rem;
    font-family: lato-regular;
}

.related_question_link {
    color: #171717;
    font-size: 0.938rem;
    font-family: lato-regular;
}

.related_question_link:hover {
    color: #97144d;
}

.process_debit .form-text {
    font-family: lato-bold;
    font-size: 0.75rem;
    color: #393939 !important;
    opacity: 0.8;
}

.debit_label,
.captcha_label {
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s ease all;
    color: #393939;
}

.form-group .form-control {
    border: 1px solid transparent !important;
    border-bottom: 1px solid #D9D9D9 !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
}

.process_debit .country-code,
.process_debit .country-code::placeholder {
    font-size: 1rem;
}

.feedback_yes {
    margin-top: 20px;
    display: none;
}

/* button */
.debit_buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.debit_buttons .enter_details {
    font-family: lato-bold;
    font-size: 1rem;
    padding: 10px 35px;
    background-color: #97144d;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 24px;
}
.debit_buttons .enter_details:hover {
    background-color: #fff;
    color: #97144D;
    border: 1px solid #97144d;
}

.captcha_content {
    width: 50%;
}

/*IE11*/
input:not(:-ms-input-placeholder) + .debit_label,
input:focus + .debit_label {
    cursor: pointer;
    color: #97144d;
    -webkit-transform: translate(0, -0.8rem) scale(0.75);
    -moz-transform:    translate(0, -0.6rem) scale(0.75);
    -ms-transform:     translate(0, -0.6rem) scale(0.75);
    -o-transform:      translate(0, -0.6rem) scale(0.75);
    transform: translate(0, -0.6rem) scale(0.75);
    transform-origin: left top;
}

/*IE11*/
:-ms-input-placeholder + label {
    cursor: text;
    -webkit-transform: translate(0, 0.7rem) scale(1);
    -moz-transform:    translate(0, 0.9rem) scale(1);
    -ms-transform: translate(0, 0.4rem) scale(1);
    -o-transform:      translate(0, 0.7rem) scale(1);
    transform: translate(0, 0.4rem) scale(1);
    transform-origin: left bottom;
}

.form-control:-ms-input-placeholder {
    font-family: lato-regular;
    font-size: 1rem;
    opacity: 0 !important;
}

.form-control:focus:-ms-input-placeholder {
    opacity: 0 !important;
}

textarea:not(:-ms-input-placeholder) + .debit_label,
textarea:focus + .debit_label {
    -ms-transform: translate(0, -0.6rem) scale(0.75);
    cursor: pointer;
    color: #97144d;
    transform-origin: left top;
}

textarea:-ms-input-placeholder + label {
    cursor: text;
    -ms-transform: translate(0, 0.7rem) scale(1);
    transform: translate(0, 0.7rem) scale(1);
    transform-origin: left bottom;
}

_:-ms-fullscreen, :root .notes { 
    display: block !important;
    width: 50% !important;
}

_:-ms-fullscreen, :root .process_debit {
    width: auto;
}

_:-ms-fullscreen, :root .generate_captcha {
    background-color: #e6e6e6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 227px;
    height: 40px;
    padding: 8px 5px 8px 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #97144d;
    font-size: 1.57143rem;
    line-height: 1;
    position: relative;

}

/*IE 11 end*/

textarea:not(:placeholder-shown) + .debit_label,
textarea:focus + .debit_label {
    -webkit-transform: translate(0, -0.6rem) scale(0.75);
    -moz-transform: translate(0, -0.6rem) scale(0.75);
    -ms-transform: translate(0, -0.6rem) scale(0.75);
    -o-transform: translate(0, -0.6rem) scale(0.75);
    transform: translate(0, -0.6rem) scale(0.75);
    cursor: pointer;
    color: #97144d;
    transform-origin: left top;
}

textarea:placeholder-shown + label {
    cursor: text;
    -webkit-transform: translate(0, 0.7rem) scale(1);
    -moz-transform: translate(0, 0.7rem) scale(1);
    -ms-transform: translate(0, 0.7rem) scale(1);
    -o-transform: translate(0, 0.7rem) scale(1);
    transform: translate(0, 0.7rem) scale(1);
    transform-origin: left bottom;
}


/* notes */
.notes_header {
    font-family: lato-bold;
    font-size: 1.25rem;
    color: #171717;
}

.note_content li {
  font-family: lato-regular;
  font-size: 0.938rem;
  color: #171717;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  opacity: 0.8;
  position: relative;
  padding-left: 20px;
}

.note_content li:before {
  content: "";
  background: url(../images/arrow.svg);
  width: 8px;
  height: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  top: 9px;
  left: 0;
}

/* feedback */

.feedback {
    margin: 0px 30px 0px 60px;
    padding: 28px 0px;
}

.feedback_buttons .btn_link {
    padding: 5px 24px;
    border-radius: 20px;
    color: rgba(57,57,57,0.5);
    border: 1px solid #D9D9D9;
    background-color: #fff;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
}

.feedback_buttons .btn_link:hover {
    color: #fff;
    background-color: #97144d;
    border: 1px solid #97144d;
}

.highlight, .highlight:hover, .highlight:focus {
    color: #97144d;
    font-family: lato-regular;
    font-size: 1rem;
    text-decoration: underline !important;
}

/*debit-page4 css start*/
.debit_content_4 {
    display: none;
    margin: 37px 85px 40px 60px;
}

.debit_content_4 .great_text {
    font-family: lato-regular;
    font-size: 1.813rem;
    color: #97144d;
    margin-bottom: 9px;
}

.debit_content_4 .process_debit {
    padding: 27px 48px 0 57px;
    margin-right: 0;
    height: auto;
    width: 100%;
}

.debit_content_4 .image {
    width: 30%;
    margin-left: 15px;
}

.debit_content_4 .image img {
    width: 100%;
}

.debit_content_4 .blocked_card_content {
    display: block;
    width: 100%;
}

.debit_content_4 .block_content_section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.debit_content_4 .para_text {
    font-family: lato-regular;
    font-size: 1.125rem;
    color: #171717;
    margin-bottom: 50px;
}

.debit_content_4 .debit_buttons {
    display: inline-block;
    margin-bottom: 20px;
}

.debit_content_4 .close_btn {
    padding: 10px 50px;
    background-color: #97144d;
    color: #fff;
    border: 1px solid transparent;
}
.debit_content_4 .close_btn:hover,
.debit_content_4 .close_btn:focus {
    padding: 10px 50px;
    background-color: #fff;
    color: #97144d;
    border: 1px solid #97144d;
}

.debit_content_4 .debit_buttons .enter_details {
    font-family: lato-bold;
    font-size: 1rem;
    padding: 9px;
    background-color: #97144d;
    color: #fff;
    border: 1px solid transparent;
}
/*debit-page4 css end*/


/*reponsiveness*/

@media (max-width: 992px) {
    .breadcrumb, .debit_heading {
        padding: 0 20px;
    }
    .debit_content {
        margin: 0 20px;
    }
    .process_debit {
        width: 100%;
        margin-right: 30px;
    }
    .notes {
        margin-top: 25px;
    }
    .feedback {
        margin: 0px 0 0px 20px;
        padding: 0 0 20px 0;
    }
    .debit_content_4 {
        margin: 37px 20px 40px 20px;
    }
}

@media (max-width:768px) {
    .debit_content {
        flex-direction: column;
        margin: 0 20px;
    }
    .process_debit {
        margin-right: 0;
    }
    .debit_content_4 .image {
        display: none;
    }
    .debit_content_4 .process_debit {
        padding: 27px 24px 0 24px;
    }
}

@media (max-width: 576px) {
    _:-ms-fullscreen, :root .navbar-brand img {
        width: 90px;
    }
    .breadcrumb {
        display: none;
    }
    .debit_heading {
        font-size: 1.6rem;
    }
    .form-group .debit_label {
        font-size: 0.72rem;
    }
    .breadcrumb, .debit_heading {
        padding: 0 15px;
    }
    .debit_content{
        margin: 0 15px;
    }
    .process_debit {
        min-width: 0;
        width: 100%;
        height: auto;
        padding: 27px 24px;
    }

    .captcha_content .icon-refresh {
        margin-left: 20px;
    }
    .captcha_letter {
        margin-left: 20px;
    }
    .debit_content {
        margin: 0 15px;
    }

    .debit_content .enter_details {
        padding: 9px 12.5px;
    }
    .feedback {
        margin: 0px 15px;
        padding: 0 0 20px 0;
    }
    .captcha_content {
        width: 100%;
    }
    .debit_content_4 {
        margin: 37px 15px 40px 15px;
    }
}